
@{
    ViewBag.Title = "My Requests";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Here are your requests:</p>
        <table cellpadding="5" border="1">
            <tr><th>Title</th><th>Author</th><th>Pick Up Location</th></tr>
            @if (Model["total_record_count"] > 0)
            { 
                foreach (var request in Model["user_request"])
                { 
                    if (request["request_type"]=="HOLD")
                    { 
                    <tr>
                        <td>@request["title"]</td>
                        <td>@request["author"]</td>
                        <td>@request["pickup_location"]</td>
                        <td>@Html.ActionLink("Cancel request", "Cancel", 
                            new { requestId = @request["request_id"] })</td>
                    </tr>
                    }
                }
            } 
            else
            { 
                <tr><td colspan="3">No requests found.</td></tr>
            }
        </table>
    </div>
</div>

